<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SERVICE AT <%= provider.name %></title>
</head>
<body>
    <h3>SERVICE AN ITEM AT <%= provider.name %> </h3>
    <h4 style="color : red"><%= msg %></h4>
    <h5>yours item</h5>
    <form action="/provider/store/ <%= provider.id %>/addService" method="POST">
        <select name="item" >
            <% listItem.forEach(function(item){ %>
                <option value="<%= item.id %>">
                    <%= item.name %>
                </option>
            <% }) %>
        </select>
        <button type="submit">
            SERVICE NOW !
        </button>
    </form>
</body>
</html>