<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= provider.name %></title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>price</th>
            <th>address</th>
            <th></th>
        </tr>
        <tr>
            <td> <%= provider.id %> </td>
            <td> <%= provider.name %> </td>
            <td> <%= provider.price %> </td>
            <td> <%= provider.address %> </td>
            <td>
                <button>
                    <a href="/provider/store/<%= provider.id %>/addService">SERVICE AN ITEM !</a>
                </button>
            </td>
        </tr>
    </table>
</body>
</html>